include /_mixins

doctype html
html
  head
    link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet' integrity='sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN' crossorigin='anonymous')
    +stylesheet_link_tag('main')
    +javascript_include_tag('vendor/all.min')
    +javascript_include_tag('handlebars_templates')
  body
    header
    main
      #cart
      #content
        block content

    footer
    +javascript_include_tag('application')
    +javascript_include_tag('models/item')
    +javascript_include_tag('collections/menu', 'collections/cart')
    +javascript_include_tag('views/item', 'views/menu', 'views/itemDetails', 'views/cart', 'views/header', 'views/checkout')
    script(type='text/javascript').
      App.menu = new Menu(!{JSON.stringify(menu)});
    +javascript_include_tag('router')
    block scripts