colors = {
	overlay1: #d60041,
	overlay2: #a90040,
	midtone1: #b0b0b0,
	midtone2: #787878,
	highlight1: #d60041,
	highlight2: #ff3170,
	darkBgTxt: #fff,
	lightBgTxt: #000,
	darkBg: #000,
	lightBg: #fff,
	cartSummaryBg: #1f1f1f,
	itemBorder: #888,
	itemTitle: #ab7829,
	nutrBorder: #aaa,
}