<article>
  <header>
    <figure>
      <img src={{image}} alt='menu-item' />
    </figure>
    <h2 class='name'>{{title}}</h2>
  </header>
  <p class='price'>${{formatPrice price}}</p>
  <footer>
    <a class='add_cart' href='#'>Add to cart</a>
  </footer>
</article>